#Body
{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	height: 100%;
	min-height: 100%;
	color: inherit;
	background-color: #F7F7F3;
	border: 0px;
	clear: both;
  border-bottom: 1px solid #C1C1C1;
  border-top: 1px solid #C1C1C1;
}

#Main
{
	overflow: hidden;
	margin: 0px;
	width: 932px;
	height: 100%;
	min-height: 100%;
	padding: 0px;
	/*
	margin: 0px 6px 0px 5px;
	border-top: 1px solid #b8bab1;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 1px solid #b8bab1;*/
}

#Clear
{
	clear: both;
	margin: 0px;
	padding: 0px;
}

#Footer
{
	width: auto;
	margin: 0px;
	padding: 0px 0px 30px 0px;
	clear: both;
}
