#Menu
{
	margin: 0px;
	padding: 0px;
	color: #4967AA;
	background-color: #F7F7F3;
}





#GlobalMenu
{
	height: 33px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border-top: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-bottom: none;
	border-left: 1px solid #c1c1c1;
	color: inherit;
	background-color: #F7F7F3;
	vertical-align: middle;
	text-align: left;
	font-size: 19px;
  font-family: cbs-sans-regular, Arial, Verdana, Helvetica, Geneva, Lucida, sans-serif;

}

#GlobalMenu ul
{
	width: auto;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#GlobalMenu ul li
{
	position: relative;
	margin: 0px;
	padding: 0px;
  height: 33px;
	text-align: center;
	vertical-align: middle;
	float: left;
	z-index: 10;
}

#GlobalMenu ul li a
{
	margin: 0px;
	padding: 0px;
	color: inherit;
	background-color: inherit;
	vertical-align: middle;
	text-decoration: none;
	font-size: 19px;
	width: auto;
}

#GlobalMenu ul li div.Extra
{
	margin: 0px;
	padding: 4px 5px 0px 5px;
  height: 29px;
	vertical-align: middle;
	border-top: 0px;
	border-right: 1px solid #c1c1c1;
	border-bottom: 0px;
	border-left: 0px solid #ffffff;
	background-image: none;
}


#GlobalMenu ul li.Menu:hover
{
	color: inherit;
	background-color: #F7F7F3;
}


#GlobalMenu ul li:hover div.Extra a
{
	color: #4967AA;
	text-decoration:underline;
	background-color: inherit;
}

#GlobalMenu ul li.Active
{
	color: #710D09;;
	background-color: #F7F7F3;
	vertical-align: middle;
}

#GlobalMenu ul li.Active div.Extra a
{
	color: #4967AA;
	background-color: inherit;
  text-decoration: underline;
}


#GlobalMenu ul li.Active:hover
{
	background-image: none;
	color: inherit;
	background-color: #F7F7F3;
}

#GlobalMenu ul li.Active:hover div.Extra
{
	background-image: none;
	color: inherit;
	background-color: transparent;	
}



#GlobalMenu ul.GlobalMenuDropDown
{
	clear: both;
	position: absolute;
	top: 33px;
	left: -1px;
	margin: 0px;
	padding: 5px;
	width: auto;
	visibility: hidden;
	border-top: 0px solid #b8bab1;
	border-right: 1px solid #b8bab1;
	border-bottom: 1px solid #b8bab1;
	border-left: 1px solid #b8bab1;
	color: inherit;
	background-color: #F7F7F3;
	list-style: none;
	text-align: left;
}

#GlobalMenu ul.Submenu
{
	width: 500%;
}

#GlobalMenu ul li.Menu:hover ul.GlobalMenuDropDown
{
	visibility: visible;
}

#GlobalMenu ul.GlobalMenuDropDown li
{
	float: none;
	width: 500%;
	height: 1%; /* IE6 Needs this */
	margin: 3px 0px;
	padding: 0px;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	white-space: nowrap;
}

#GlobalMenu ul.GlobalMenuDropDown li h1
{
	margin: 0px;
	padding: 5px 0px;
	font-size: 15px;
}

#GlobalMenu ul.GlobalMenuDropDown li a
{
	float: none;
	width: auto;
	margin: 0px;
	padding: 2px 0px 2px 17px;
 	background-image: url(../../rh/images/sidemenu_bullet.html);
	background-repeat: no-repeat;
	background-position: 6px 5px;
	font-size: 15px;
	font-weight: normal;
	white-space: nowrap;
}


/*
#RegionalMenu
{
	margin: 0px 6px 0px 5px;
	padding: 0px;
	border: 0px;
	color: inherit;
	background-color: #ecf0f4;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	border-right: 1px solid #b8bab1;
	border-left: 1px solid #b8bab1;
}

#RegionalMenu table
{
	width: auto;
	height: 21px;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	border-collapse: collapse;
}

#RegionalMenu table tbody
{
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

#RegionalMenu table tbody tr
{
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

#RegionalMenu table tbody tr td
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

#RegionalMenu div
{
	height: 16px;
	margin: 0px;
	padding: 3px 5px 2px 10px;
}

#RegionalMenu div.Active
{
}

#RegionalMenu a
{
	color: #002946;
	background-color: inherit;
	white-space: nowrap;
	font-weight: bold;
}

#RegionalMenu a:hover
{
	color: #760700;
	background-color: inherit;
	font-weight: bold;
}

#RegionalMenu div.Active a
{
	color: #760700;
	background-color: inherit;
	font-weight: bold;
	padding-left: 13px;
 	background-image: url(/design/rh/images/linkmarker-active.gif);
	background-repeat: no-repeat;
	background-position: 0em;	
}

#RegionalMenu .Delimiter
{
	height: 13px;
	margin: 4px 0px 4px 0px;
	padding: 0px;
	border-top: 0px;
	border-right: 1px solid #0e2449;
	border-bottom: 0px;
	border-left: 1px solid #ffffff;
}
